// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.w-1-3-t{
    width: 33.333333%;
}

.-mx-3-t{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.px-3-t{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.pb-6-t{	padding-bottom: 1.5rem;}

.-ml-5-tw{	margin-left: -1.25rem;}

.border-l-4	{border-left-width: 4px;}

.border-green-300{
    --tw-border-opacity: 1;
    border-color: rgba(110, 231, 183, var(--tw-border-opacity));
}


.border-gray-600{
    --tw-border-opacity: 1;
    border-color: rgba(75, 85, 99, var(--tw-border-opacity));
}
